[submodule "vendor/Zend"]
	path = vendor/Zend
	url = https://github.com/AlloVince/evaengine-libs-zend.git
[submodule "vendor/Sphinx"]
	path = vendor/Sphinx
	url = https://github.com/AlloVince/evaengine-libs-sphinx.git
