[submodule "vendor/Sphinx"]
	path = vendor/Sphinx
	url = https://github.com/AlloVince/evaengine-libs-sphinx.git
[submodule "vendor/Simplehtmldom"]
	path = vendor/Simplehtmldom
	url = https://github.com/AlloVince/evaengine-libs-simplehtmldom.git
[submodule "public/static/lib"]
	path = public/static/lib
	url = https://github.com/AlloVince/evaengine-libs-front.git
[submodule "vendor/Markdown"]
	path = vendor/Markdown
	url = https://github.com/AlloVince/evaengine-libs-markdown.git
[submodule "vendor/Zend"]
	path = vendor/Zend
	url = https://github.com/AlloVince/zf2.git
[submodule "depends/ZendDeveloperTools"]
	path = depends/ZendDeveloperTools
	url = git://github.com/zendframework/ZendDeveloperTools.git
