[submodule "public/static/lib"]
	path = public/static/lib
	url = https://github.com/AlloVince/evaengine-libs-front.git
[submodule "depends/ZendDeveloperTools"]
	path = depends/ZendDeveloperTools
	url = git://github.com/zendframework/ZendDeveloperTools.git
[submodule "depends/BjyProfiler"]
	path = depends/BjyProfiler
	url = git://github.com/bjyoungblood/BjyProfiler.git
[submodule "vendor/EvaCloudImage"]
	path = vendor/EvaCloudImage
	url = git://github.com/AlloVince/EvaCloudImage.git
[submodule "vendor/ZendOAuth"]
	path = vendor/ZendOAuth
	url = git://github.com/zendframework/ZendOAuth.git
[submodule "vendor/Zend"]
	path = vendor/Zend
	url = git://github.com/AlloVince/zf2.git
[submodule "public/static/eva/css"]
	path = public/static/eva/css
	url = git://github.com/AlloVince/EvaBootstrap.git
[submodule "vendor/ZendGData"]
	path = vendor/ZendGData
	url = git://github.com/zendframework/ZendGData.git
[submodule "vendor/ZendQueue"]
	path = vendor/ZendQueue
	url = git://github.com/zendframework/ZendQueue.git
[submodule "vendor/Libs"]
	path = vendor/Libs
	url = git://github.com/AlloVince/evaengine-libs.git
[submodule "vendor/Assetic"]
	path = vendor/Assetic
	url = git://github.com/kriswallsmith/assetic.git
