.dropdown-menu {
	min-width: 80px;
}
.caret, .dropdown .caret {
	vertical-align:middle;
}

.btn .caret {
	margin-top:0;
}

.navbar .nav {
  line-height: @navbarHeight - 10px;
}

.navbar .divider-vertical {
  height: @navbarHeight + 10px;
}
