/***
 Coming Soon Ful Screen Portfolio
 Copyright Ben Jackson
 
 Variation 2 ***/
/**** SUPERSIZED SLIDESHOW ****/
/*

Supersized -Fullscreen Slideshow jQuery Plugin
Version :  3.2.7
Site	:  www.buildinternet.com/project/supersized

Author	:  Sam Dunn
Company :  One Mighty Roar (www.onemightyroar.com)
License :  MIT License / GPL License

 */
* {
	margin: 0;
	padding: 0;
}

body {
	background: #111;
	height: 100%;
}

img {
	border: none;
}

#supersized-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	text-indent: -999em;
	background: url(../img/progress.gif) no-repeat center center;
}

#supersized {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: -999;
	height: 100%;
	width: 100%;
}

#supersized img {
	width: auto;
	height: auto;
	position: relative;
	display: none;
	outline: none;
	border: none;
}

#supersized.speed img {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
}

/*Speed*/
#supersized.quality img {
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
}

/*Quality*/
#supersized li {
	display: block;
	list-style: none;
	z-index: -30;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111;
}

#supersized a {
	width: 100%;
	height: 100%;
	display: block;
}

#supersized li.prevslide {
	z-index: -20;
}

#supersized li.activeslide {
	z-index: -10;
}

#supersized li.image-loading {
	background: #111 url(../img/progress.gif) no-repeat center center;
	width: 100%;
	height: 100%;
}

#supersized li.image-loading img {
	visibility: hidden;
}

#supersized li.prevslide img,#supersized li.activeslide img {
	display: inline;
}

/*** WEB FONTS ***/
@font-face {
	font-family: 'PTSansRegular';
	src: url('fonts/PTS55F-webfont.eot');
	src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/PTS55F-webfont.woff') format('woff'), url('fonts/PTS55F-webfont.ttf') format('truetype'), url('fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CamboRegular';
	src: url('fonts/Cambo-Regular-webfont.eot');
	src: url('fonts/Cambo-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Cambo-Regular-webfont.woff') format('woff'), url('fonts/Cambo-Regular-webfont.ttf') format('truetype'), url('fonts/Cambo-Regular-webfont.svg#CamboRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**** MAIN CONTENT ****/
#banner {
	background-attachment: fixed;
	background-color: rgba(0,0,0,0.7);
	background-repeat: no-repeat;
	background-position: center center;
	height: 285px;
	width: 100%;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: rgba(0,0,0,1);
	border-left-color: rgba(0,0,0,1);
	top: 30%;
	position: fixed;
}

#wrapper {
	width: 710px;
	vertical-align: middle;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	height: 500px;
}

.rule {
	background-attachment: fixed;
	background-color: rgba(255,255,255,1);
	background-repeat: no-repeat;
	height: 1px;
	margin-top: 12px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

.h2 {
	font-family: CamboRegular, Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	padding-top: 5px;
	padding-bottom: 0px;
	text-transform: uppercase;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	line-height: 40px;
	text-shadow: .5px 0px 1px rgba(252, 225, 225, 1);
}

.h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 28px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
	width: 250px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,255,255,1);
	margin-right: auto;
	margin-left: auto;
	line-height: 40px;
	text-shadow: .5px 0px 1px rgba(252, 225, 225, 1);
}

.leftinfo {
	position: relative;
	font-family: PTSansRegular, CamboRegular, Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	text-align: center;
	margin-left: 20px;
	line-height: 25px;
	float: left;
}

.rightinfo {
	position: relative;
	font-family: PTSansRegular, Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 2px;
	text-align: center;
	margin-right: 20px;
	line-height: 25px;
	float: right;
}

.rule2 {
	background-attachment: fixed;
	background-color: rgba(255,255,255,1);
	background-repeat: no-repeat;
	height: 1px;
	margin-top: 0px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	position: relative;
}

/**** COUNTDOWN ****/
#countdown {
	width: 442px;
	margin-left: 1px;
	margin-right: 1px;
	display: inline;
	float: left;
}

.numbers {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 72px;
	color: rgba(255,255,255,1);
	padding-right: 0px;
	padding-bottom: 10px;
	width: 400px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
}

.timer_numbers {
	float: left;
	height: 110px;
	width: 100px;
	display: inline;
	position: relative;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.labels {
	font-family: PTSansRegular, Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: rgba(204,204,204,1);
	text-transform: lowercase;
	display: block;
	width: 80px;
	height: 15px;
	text-align: center;
	letter-spacing: 5px;
	padding-left: 5px;
	margin-top: 0px;
	text-shadow:.5px 0px 1px rgba(252, 225, 225, 1);

}

.timer_labels {
	height: 10px;
	text-align: center;
	padding-right: 1px;
	display: inline;
	position: relative;
	font-size: 14px;
	color: rgba(204,204,204,1);
	text-transform: lowercase;
	width: 80px;
	padding-left: 0px;
	text-align: center;
	margin-right: 5px;
	margin-left: 1px;
}

#timer_days_label {
	padding-left: 15px;
}

#timer_hours_label {
	padding-left: 50px;
}

#timer_mins_label {
	padding-left: 30px;
}

#timer_seconds_label {
	padding-left: 20px;
}

#timer_days {
	padding-right: 10px;
}

#timer_hours {
	padding-right: 8px;
}

#timer_mins {
	padding-right: 5px;
}

#timer_seconds {
	padding-right: 0px;
	padding-left: 0px;
}

/*** Increase Padding for days ***/
/*
#timer_days  {
	padding-right:  29px;
}

#timer_hours_label  {
	padding-left: 70px;
}
*/
/*** END increase padding for days ***/


/**** EMAIL SUBSCRIPTION FORM  ****/
.findout {
	font-family: CamboRegular, Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
	color: rgba(255,255,255,1);
	margin-left: auto;
	margin-right: 15px;
	margin-top: 40px;
	letter-spacing: 2px;
	float: right;
	text-align: center;
	width: 250px;
	text-shadow: .5px 0px 1px rgba(252, 225, 225, .6);
}

.email_wrap {
	width: 50px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 0px;
	display: inline;
}

#subscribe {
	margin-top: 33px;
	margin-left: auto;
	margin-right: 20px;
	padding-bottom: 18px;
	width: 230px;
}

#emailsub {
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.5);
	height: 27px;
	width: 175px;
	border-radius: 4px;
	color: rgba(102,102,102,1);
	padding-left: 10px;
	z-index: 2;
	padding-right: 45px;
	border: 0;
	outline: none;
	margin-top: 10px;
	margin-left: auto;
	margin-bottom: 10px;
	margin-right: auto;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 14px;
}

#emailsub:focus {
	-webkit-box-shadow: 0px 0px 13px 0px rgba(180,176,176,0.6);
	box-shadow: 0px 0px 13px 0px rgba(180,176,176,0.6);
}

form .contactbutton {
	background-image: url(./images/send.jpg);
	background-repeat: no-repeat;
	position: relative;
	display: inline;
	z-index: 1;
	bottom: 40px;
	right: 7px;
	float: right;
	width: 37px;
	height: 27px;
}

/**** CONTACT FORM VALIDATION ****/
.contactForm .formError {
	float: left;
	font-size: 12px;
	color: rgb(204,204,204);
	letter-spacing: 2px;
}

.contactForm .formProgress {
	display: inline;
	margin-left: 20px;
}

#errorMessage {
	margin-left: 0px;
	display: block;
}

.complete {
	display: inline;
	width: 200px;
}

/**** SUBSCRIPTION FORM VALIDATION ****/
.subError {
	margin-top: 3px;
	position: absolute;
	color: rgb(255,255,255);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	letter-spacing: 1px;
}

.subProgress {
	font-size: 12px;
	letter-spacing: 1px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: rgb(255,255,255);
	margin-top: 0px;
	margin-left: 10px;
	position: absolute;
	display: inline;
	bottom: 30px;
}

img {
	vertical-align: middle;
}

#formprogress {
	padding-left: 20px;
	vertical-align: middle;
}

/**** PULL DOWN CONTENT ****/
#pull_down_content {
	height: auto;
	position: absolute;
	top: -800px;
	background-color: rgba(0,0,0,0.9);
	border-radius: 0 0 5px 5px;
	z-index: 99999;
	margin-right: auto;
	margin-left: auto;
}

a.button_down {
	background: url(./images/down.png) no-repeat center center;
	background-color: #fff;
	background-position: 0 -40px;
	position: ;
	top: 20px;
	right: 10px;
	width: 85px;
	height: 29px;
	float: right;
}

a.button_down:hover {
	background-position: 0 -6px;
}

a.button_up {
	background: url(./images/close.png) no-repeat center center;
	background-position: 0 -41px;
	width: 85px;
	height: 29px;
	float: right;
	margin: 10px auto 0 auto;
	clear: both;
	border-radius: 0px 0px 5px 0px;
}

a.button_up:hover {
	background-position: 0 -6px;
}

#container {
	width: 710px;
	margin-right: auto;
	margin-left: auto;
}

.about {
	padding-top: 20px;
	padding-left: 20px;
	width: 370px;
	color: rgba(204,204,204,1);
	float: left;
}

p {
	font-family: 'PTSansRegular', Georgia, "Times New Roman", Times, serif;
	color: rgba(255,255,255,1);
	font-size: 14px;
	font-weight: normal;
}

a {
	color: rgba(204,204,204,1);
	font-size: 14px;
	font-weight: lighter;
	text-decoration: underline;
}

a[href]:hover {
	color: rgba(255,255,255,1);
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
	color: rgba(204,204,204,1);
}

.contact {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 0px;
	color: rgba(255,255,255,1);
	width: 300px;
	display: inherit;
	float: left;
}

.dropdown_heading {
	font-family: CamboRegular, Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: rgba(204,204,204,1);
	text-align: left;
	letter-spacing: 1px;
	padding-bottom: 10px;
	text-shadow: .5px 0px 1px rgba(252, 225, 225, 1);
}

#email {
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.6);
	height: 27px;
	width: 237px;
	border-radius: 2px;
	color: rgba(102,102,102,1);
	padding-left: 7px;
	z-index: 2;
	padding-right: 6px;
	margin-bottom: 3px;
	font-size: 14px;
	color: rgba(102,102,102,1);
	border: 0;
	outline: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

#email:focus {
	-webkit-box-shadow: 0px 0px 13px 0px rgba(180,176,176,0.6);
	box-shadow: 0px 0px 13px 0px rgba(180,176,176,0.6);
}

#message {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: rgba(102,102,102,1);

	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.6);
	height: 23px;
	width: 180px;
	border-radius: 2px;
	color: rgba(102,102,102,1);
	padding-left: 0px;
	z-index: 2;
	padding-right: 40px;
	margin-top: 15px;
	border: 0;
	outline: none;
}

#message:focus {
	-webkit-box-shadow: 0px 0px 13px 0px rgba(180,176,176,0.6);
	box-shadow: 0px 0px 13px 0px rgba(180,176,176,0.6);
}

.contact #message {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 5px;
	height: 150px;
	width: 237px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(102,102,102,1);
}

.submit {
	background: rgba(102,102,102,1);
	border: solid rgba(102,102,102,1) 1px;
	width: 60px;
	height: 26px;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 0px;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 5px;
}

.submit:hover {
	background: #999;
}

/****  SOCIAL LINKS  ****/
h4 {
	font-family: CamboRegular, Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: rgba(204,204,204,1);
	letter-spacing: 1px;
	padding-top: 12px;
	text-shadow: .5px 0px 1px rgba(252, 225, 225, 1);
}

#social {
	margin-top: 10px;
	display: block;
	position: relative;
	padding-top: 5px;
}

#social li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	width: 37px;
}

#social li,#social a {
	height: 37px;
	display: block;
	margin-right: 2px;
}

ul#social li.facebook a {
	background: url('images/social_icons.png') no-repeat -5px -4px;
	width: 37px;
	height: 37px;
}

ul#social li.facebook a:hover {
	background: url('images/social_icons.png') no-repeat -5px -42px;
	width: 37px;
	height: 37px;
}

ul#social li.twitter a {
	background: url('images/social_icons.png') no-repeat -45px -4px;
	width: 37px;
	height: 37px;
}

ul#social li.twitter a:hover {
	background: url('images/social_icons.png') no-repeat -45px -42px;
	width: 37px;
	height: 37px;
}

ul#social li.google a {
	background: url('images/social_icons.png') no-repeat -82px -4px;
	width: 37px;
	height: 37px;
}

ul#social li.google a:hover {
	background: url('images/social_icons.png') no-repeat -82px -42px;
	width: 37px;
	height: 37px;
}

ul#social li.vimeo a {
	background: url('images/social_icons.png') no-repeat -120px -4px;
	width: 37px;
	height: 37px;
}

ul#social li.vimeo a:hover {
	background: url('images/social_icons.png') no-repeat -120px -42px;
	width: 37px;
	height: 37px;
}

ul#social li.tumblr a {
	background: url('images/social_icons.png') no-repeat -159px -4px;
	width: 37px;
	height: 37px;
}

ul#social li.tumblr a:hover {
	background: url('images/social_icons.png') no-repeat -159px -42px;
	width: 37px;
	height: 37px;
}

ul#social li.dribble a {
	background: url('images/social_icons.png') no-repeat -199px -4px;
	width: 37px;
	height: 37px;
}

ul#social li.dribble a:hover {
	background: url('images/social_icons.png') no-repeat -199px -42px;
	width: 37px;
	height: 37px;
}

ul#social li.flickr a {
	background: url('images/social_icons.png') no-repeat -238px -4px;
	width: 37px;
	height: 37px;
}

ul#social li.flickr a:hover {
	background: url('images/social_icons.png') no-repeat -238px -42px;
	width: 37px;
	height: 37px;
}

ul#social li.linkedin a {
	background: url('images/social_icons.png') no-repeat -277px -4px;
	width: 37px;
	height: 37px;
}

ul#social li.linkedin a:hover {
	background: url('images/social_icons.png') no-repeat -277px -42px;
	width: 37px;
	height: 37px;
}

ul#social li.skype a {
	background: url('images/social_icons.png') no-repeat -317px -4px;
	width: 37px;
	height: 37px;
}

ul#social li.skype a:hover {
	background: url('images/social_icons.png') no-repeat -317px -42px;
	width: 37px;
	height: 37px;
}

ul#social li.youtube a {
	background: url('images/social_icons.png') no-repeat -357px -4px;
	width: 37px;
	height: 37px;
}

ul#social li.youtube a:hover {
	background: url('images/social_icons.png') no-repeat -357px -42px;
	width: 37px;
	height: 37px;
}
